<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Posts</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav class_name= 'nav-bar'>
            <h1>Web</h1>
            <div class="nav-icons">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <i class="fa-solid fa-circle-arrow-right"></i>
                <i class="fa-solid fa-xmark"></i>
                <i class="fa-solid fa-house-user"></i>
                <input type="text" placeholder="http// " class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </nav>
        <% @posts.each do |post| %>
            Numbers of post : <%= post.user.posts.count %><br>
        end
        
    </body>
</html>